
.notes-list {
    border-top: 1px solid gainsboro;
}
.note-view, .note-form {
    border: 1px solid gainsboro;
    margin: 5px;
    padding: 5px;
}
.note-created {
    opacity: 0;
    background-color: #FF8533;
}
.btn-row .btn + .btn {
    margin-left: 1rem;
}
