web/node_modules/
web/.idea/
web/public/bundle.js
web/public/bundle.js.map
web/public/*.woff2
web/public/*.svg
web/public/*.ttf
web/public/*.eot
web/public/*.woff
web/public/images/
mynotes-eclipse-workspace/
server/.settings/
server/.classpath
server/.gradle/
server/.project
web/public/
web/.gradle/
dist/
build/
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/
